body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#f3f1ee;
    color: #6a6a6e;
}
header {
    background-image: url("images/seattle-headerimg.jpg");
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
}
h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #191b31;
}
h2 {
    font-size: 24px;

}
footer {
    color: white;
    background-color:#191b31;
    padding: 20px;
    text-align: center;
}